<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Goods Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

<div class="panel panel-default">
  <div class="panel-heading">Discount Goods Detail</div>
  <div class="panel-body">
  	<span th:if="${user eq null}"> Please login first<br/></span>
  	<span>No Address input</span>
  </div>
  <table class="table" id="goodslist">
  	<tr>  
        <td>Goods name</td>
        <td colspan="3" th:text="${goods.name}"></td>
     </tr>  
     <tr>  
        <td>Goods image</td>
        <td colspan="3"><img th:src="@{${goods.img}}" width="200" height="200" /></td>
     </tr>
     <tr>  
        <td>Discount start time</td>
        <td th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td id="discountTip">
        	<input type="hidden" id="remainSeconds" th:value="${remainSeconds}" />
        	<span th:if="${discountStatus eq 0}">Discount start count down：<span id="countDown" th:text="${remainSeconds}"></span>秒</span>
        	<span th:if="${discountStatus eq 1}">Discount in process</span>
        	<span th:if="${discountStatus eq 2}">Discount is over</span>
        </td>
        <td>
        	<form id="discountForm" method="post" action="/discount/do_discount">
        		<button class="btn btn-primary btn-block" type="submit" id="buyButton">Start Ordering</button>
        		<input type="hidden" name="goodsId" th:value="${goods.id}" />
        	</form>
        </td>
     </tr>
     <tr>  
        <td>Original Price</td>
        <td colspan="3" th:text="${goods.price}"></td>
     </tr>
      <tr>  
        <td>Discount Price</td>
        <td colspan="3" th:text="${goods.discountPrice}"></td>
     </tr>
     <tr>  
        <td>In stock</td>
        <td colspan="3" th:text="${goods.stockCount}"></td>  
     </tr>
  </table>
</div>
</body>
<script>
$(function(){
	countDown();
});

function countDown(){
	var remainSeconds = $("#remainSeconds").val();
	var timeout;
	if(remainSeconds > 0){//Count down for discount
		$("#buyButton").attr("disabled", true);
		timeout = setTimeout(function(){
			$("#countDown").text(remainSeconds - 1);
			$("#remainSeconds").val(remainSeconds - 1);
			countDown();
		},1000);
	}else if(remainSeconds == 0){//Discount in process
		$("#buyButton").attr("disabled", false);
		if(timeout){
			clearTimeout(timeout);
		}
		$("#discountTip").html("Discount in process");
	}else{// Discount is over
		$("#buyButton").attr("disabled", true);
		$("#discountTip").html("Discount is over");
	}
}

</script>
</html>
