<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading">Discount Order Detail</div>
  <table class="table" id="goodslist">
        <tr>  
        <td>Goods name</td>
        <td th:text="${goods.name}" colspan="3"></td>
     </tr>  
     <tr>  
        <td>Goods picture</td>
        <td colspan="2"><img th:src="@{${goods.img}}" width="200" height="200" /></td>
     </tr>
      <tr>  
        <td>Order price</td>
        <td colspan="2" th:text="${orderInfo.price}"></td>
     </tr>
     <tr>
     		<td>Order time</td>
        	<td th:text="${#dates.format(orderInfo.createDate, 'yyyy-MM-dd HH:mm:ss')}" colspan="2"></td>  
     </tr>
     <tr>
     	<td>Order status</td>
        <td >
        	<span th:if="${orderInfo.status eq 0}">Unpaid</span>
        	<span th:if="${orderInfo.status eq 1}">Unshipped</span>
        	<span th:if="${orderInfo.status eq 2}">Shipped</span>
        	<span th:if="${orderInfo.status eq 3}">Delivered</span>
        	<span th:if="${orderInfo.status eq 4}">Returned</span>
        	<span th:if="${orderInfo.status eq 5}">Done</span>
        </td>  
        <td>
        	<button class="btn btn-primary btn-block" type="submit" id="payButton">Make a payment</button>
        </td>
     </tr>
      <tr>
     		<td>Receiver</td>
        	<td colspan="2">12345678910</td>
     </tr>
     <tr>
     		<td>Address</td>
        	<td colspan="2">abcdedf address address, MA</td>
     </tr>
  </table>
</div>

</body>
</html>
